  .c- {
      &banner {
          position: relative;
          width: 96%;
          margin: 3rem auto 2rem;
          text-align: center;
          line-height: 9rem;
          background-color: #fff;
          font-size: 2rem;
          color: #95989A;
      }
  }