.c- {
    &button {
        &__close {
            background: #fff;
            display: inline-block;
            height: 30px;
            width: 30px;
            position: absolute;
            top: 50%;
            right: 10px;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(0, -50%);
            font-weight: bold;
            border-radius: 100%;
            color: #999999;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
            span {
                position: absolute;
                left: 6px;
                width: 60%;
                height: 2px;
                background-color: #AAA8A8;
                display: inline-block;
                &:nth-of-type(1) {
                    -webkit-transform: translateY(20px) rotate(-45deg);
                    transform: translateY(20px) rotate(-45deg);
                    top: -6px;
                }
                &:nth-of-type(2) {
                    -webkit-transform: translateY(0) rotate(45deg);
                    transform: translateY(0) rotate(45deg);
                    top: 14px;
                }
            }
        }
        &__closemini {
            background: #fff;
            display: inline-block;
            height: 20px;
            width: 20px;
            position: absolute;
            top: 50%;
            right: 10px;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(0, -50%);
            font-weight: bold;
            border-radius: 100%;
            color: #999999;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
            &--black {
                background-color: rgba(0, 0, 0, 0.5);
                box-shadow: none;
            }
            span {
                position: absolute;
                left: 4px;
                width: 60%;
                height: 2px;
                background-color: #AAA8A8;
                display: inline-block;
                &:nth-of-type(1) {
                    -webkit-transform: translateY(20px) rotate(-45deg);
                    transform: translateY(20px) rotate(-45deg);
                    top: -11px;
                }
                &:nth-of-type(2) {
                    -webkit-transform: translateY(0) rotate(45deg);
                    transform: translateY(0) rotate(45deg);
                    top: 9px;
                }
            }
        }
        &__star {
            font-weight: bold;
            position: absolute;
            top: 15px;
            left: 15px;
            display: inline-block;
            width: 36px;
            height: 36px;
            color: #fff;
            border-radius: 100%;
            box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
            z-index: 10;
            background: url(../img/icon--star.png) no-repeat center center;
            background-size: contain;
        }
        &__regist {
            width: 100%;
            display: inline-block;
            text-align: center;
            background-color: #fff;
            box-shadow: 2px 2px 11px rgba(0, 0, 0, .25);
            padding: 10px 30px;
            font-size: 14px;
            color: #989898;
        }
        &__cancel {
            width: 100%;
            display: inline-block;
            text-align: center;
            background-color: #fff;
            box-shadow: 2px 2px 11px rgba(0, 0, 0, .25);
            padding: 10px 30px;
            font-size: 14px;
            color: #989898;
        }
        &__plus {
            transform: rotate(45deg);
            top: 24px;
            box-shadow: 1px 1.5px 2px rgba(0, 0, 0, .25);
        }
    }
}