.c- {
    &cols {
        width: 100%;
        letter-spacing: -.4em;
        a {
            color: #333;
        }
        &__md-12 {
            width: 100%;
        }
        &__md-11 {
            width: 91.66666667%;
        }
        &__md-10 {
            width: 83.33333333%;
        }
        &__md-9 {
            width: 75%;
        }
        &__md-8 {
            width: 66.66666667%;
        }
        &__md-7 {
            width: 58.33333333%;
        }
        &__md-6 {
            width: 50%;
        }
        &__md-5 {
            width: 41.66666667%;
        }
        &__md-4 {
            width: 33.33333333%;
        }
        &__md-3 {
            width: 25%;
        }
        &__md-2 {
            width: 16.66666667%;
        }
        &__md-1 {
            width: 8.33333333%;
        }
    }
}

[class^="c-cols__"] {
    padding: 0 0.5rem;
    display: inline-block;
    letter-spacing: normal;
    margin-bottom: 3rem;
    vertical-align: top;
}