.c- {
    &link {
        font-size: 1.4rem;
        &__inner {
            border-top: 1px solid #ccc;
        }
        &__list {
            border-bottom: 1px solid #ccc;
            align-items: center;
            padding: 1rem;
        }
        &__store {
            flex-grow: 1;
            align-items: center;
        }
        &__text {
            width: 30%;
            align-items: center;
            word-break: break-all;
        }
        &__ph {
            height: 73px;
            width: 73px;
            border-radius: 100%;
            margin-right: 1rem;
            overflow: hidden;
            border: 1px solid #95989a;
            box-shadow: 0 2px 5px rgba(1, 0, 0, .4);
            &--mini {
                height: 41px;
                width: 41px;
                border-radius: 100%;
                overflow: hidden;
            }
            img {
                width: 100%;
            }
        }
        &__name {
            &--text {
                word-break: break-all;
            }
        }
        &__add {
            position: relative;
            display: table;
            padding: 2rem 0;
            text-align: center;
            color: #666;
            border-bottom: 1px solid #ccc;
            width: 100%;
        }
        &__addInner {
            font-weight: bold;
            display: table-cell;
            width: 100%;
            text-align: center;
            vertical-align: middle;
            color: #999;
            word-break: break-all;
        }
        &__addText {
            position: relative;
            padding-right: 3.3rem;
        }
        &__line {
            height: 1px;
            margin: 0px 0 3rem;
            border: transparent;
            background-color: #95989a;
            position: relative;
            text-align: center;
            span {
                position: absolute;
                top: 50%;
                left: 50%;
                padding: 1rem;
                transform: translate(-50%, -50%);
                background: url(../image/bg.png);
                color: #95989A;
                font-size: 1rem;
            }
        }
    }
}
