.c- {
    &manegement {
        &__headding {
            font-size: 1.2rem;
            font-weight: bold;
            font-weight: bold;
            line-height: 1.2;
            width: 96%;
            margin: 0 auto .5rem;
        }
        &__input {
            font-size: 1rem;
            display: block;
            width: 96%;
            margin: 0 auto 1rem;
            padding-bottom: .5rem;
            color: #434343;
            background-color: transparent;
            padding: 0;
            border: none;
            border-bottom: 1px solid #95989A;
        }
        &__profile {
            overflow: hidden;
            width: 100px;
            border: 1px solid #95989a;
            border-radius: 10px;
            background-color: #fff;
        }
        &__change {
            text-align: left;
            padding: 1rem;
            position: relative;
        }
    }
}