.c- {
    &mv {
        height: 46rem;
        position: relative;
        &__parts {
            &--name {
                position: absolute;
                color: #fff;
                font-size: 1.7rem;
                display: inline-block;
                padding: 2rem;
            }
        }
        &__contents {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            color: #fff;
            font-size: 2rem;
            width: 100%;
            text-align: center;
        }
        &__center {
            width: 50%;
            margin: 0 auto;
        }
        &__md {
            &--nav {}
        }
    }
}