.c- {
    &recommended {
        position: relative;
        margin-bottom: 5rem;
        &__catalogs {
            width: 3000px;
        }
        &__table {
            width: 3000px;
            &::after {
                position: absolute;
                content: " ";
                bottom: 0;
                height: 5rem;
                background-color: #999;
                width: 100%;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}