@charset "UTF-8";
/* Reset.cssやNormalize.cssなどを用いたブラウザのデフォルトスタイルの初期化や、プロジェクトにおける基本的なスタイルを定義します。
ページの下地としての全体の背景や、基本的なタイポグラフィなどが該当します。*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

body {
  font-family: sans-serif, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  position: relative;
}

html,
body {
  font-family: "fontello-expo";
  font-size: 62.5%;
  font-size: 80%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-feature-settings: "palt";
  background-color: #eee;
  -webkit-overflow-scrolling: touch;
}

a {
  text-decoration: none;
}

div,
section,
article,
main {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/** Layout ***************************************/
/* ページを構成するヘッダーやメインのコンテンツエリア、
サイドバーやフッターといったプロジェクト共通のコンテナーブロックのスタイルを定義します。*/
.l-footer {
  padding: 10px;
  font-size: 1.4rem;
  background-color: #000;
}

.l-header {
  padding: 2rem 2rem;
  overflow: hidden;
  font-size: 1.4rem;
}

.l-main {
  float: left;
  width: 640px;
}

.l-side {
  float: right;
  width: 300px;
}

/** Object ***************************************/
/* OOCSSのコンセプトを元に、プロジェクトにおける繰り返されるビジュアルパターンをすべてObjectと定義します。
FLOCSSでのObjectは、さらに次の3つのレイヤーに分けられます。*/
/* Component --------------- */
.c-header {
  color: #fff;
}

.c-header__heading {
  float: left;
}

.c-header__nav {
  float: right;
  color: white;
}

.c-header__list {
  display: inline-block;
}

.c-header__link {
  color: white;
}

.c-footer {
  color: #fff;
  text-align: center;
}

.c-breadcrumb__list {
  display: inline-block;
}

.c-mv {
  height: 46rem;
  position: relative;
}

.c-mv__parts--name {
  position: absolute;
  color: #fff;
  font-size: 1.7rem;
  display: inline-block;
  padding: 2rem;
}

.c-mv__contents {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

.c-mv__center {
  width: 50%;
  margin: 0 auto;
}

.c-button__close {
  background: #fff;
  display: inline-block;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(0, -50%);
  font-weight: bold;
  border-radius: 100%;
  color: #999999;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.c-button__close span {
  position: absolute;
  left: 6px;
  width: 60%;
  height: 2px;
  background-color: #AAA8A8;
  display: inline-block;
}

.c-button__close span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
  top: -6px;
}

.c-button__close span:nth-of-type(2) {
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
  top: 14px;
}

.c-button__star {
  background: #C0392A;
  display: inline-block;
  height: 36px;
  width: 36px;
  position: absolute;
  top: 15px;
  right: 15px;
  font-weight: bold;
  border-radius: 100%;
  color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.c-article {
  width: 100%;
  margin: 0 auto;
  padding: 2.5rem 0;
  line-height: 1.5;
  position: relative;
}

.c-contents__heading--name {
  font-size: 1.4rem;
  text-align: center;
  margin: 0 0 2rem;
  display: block;
  text-align: center;
}

.c-contents__heading--name span {
  display: inline-block;
  border: 1px solid #C0392A;
  color: #C0392A;
  padding: 0.75rem;
}

.c-contents__heading--product {
  font-size: 2.4rem;
  margin: 0 0 3rem;
  word-wrap: break-word;
  font-weight: bold;
}

.c-contents__heading--recommended {
  font-size: 1.4rem;
  margin: 0 0 3rem;
  word-wrap: break-word;
  font-weight: bold;
  color: #999999;
  text-align: center;
}

.c-contents__description {
  text-align: center;
  font-size: 1.4rem;
  margin: 0 auto 6rem;
  width: 70%;
}

.c-contents__description span {
  display: inline-block;
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid #ccc;
}

.c-cols {
  width: 100%;
  letter-spacing: -.4em;
}

.c-cols a {
  color: #333;
  display: block;
  clear: both;
  position: relative;
  z-index: 5;
}

.c-cols__md-12 {
  width: 100%;
}

.c-cols__md-11 {
  width: 91.66666667%;
}

.c-cols__md-10 {
  width: 83.33333333%;
}

.c-cols__md-9 {
  width: 75%;
}

.c-cols__md-8 {
  width: 66.66666667%;
}

.c-cols__md-7 {
  width: 58.33333333%;
}

.c-cols__md-6 {
  width: 50%;
}

.c-cols__md-5 {
  width: 41.66666667%;
}

.c-cols__md-4 {
  width: 33.33333333%;
}

.c-cols__md-3 {
  width: 25%;
}

.c-cols__md-2 {
  width: 16.66666667%;
}

.c-cols__md-1 {
  width: 8.33333333%;
}

[class^="c-cols__"] {
  padding: 0 1rem;
  display: inline-block;
  letter-spacing: normal;
  margin-bottom: 3rem;
  vertical-align: top;
}

.c-card {
  background-color: #fff;
  display: block;
  padding: 1rem;
  font-size: 1.8rem;
  box-shadow: 7px 7px 11px rgba(0, 0, 0, 0.25);
  word-wrap: break-word;
}

.c-card__title {
  margin-bottom: 1rem;
  font-weight: bold;
  text-align: center;
  font-size: 1.4rem;
  text-align: left;
}

.c-card__text {
  margin-bottom: 1rem;
  color: #999999;
  font-size: 1rem;
}

.c-card__mv {
  height: 22rem;
  background-color: #ddd;
  margin-bottom: 1rem;
}

.c-card__updateset {
  width: 90%;
  float: right;
  box-shadow: 7px 7px 11px rgba(0, 0, 0, 0.25);
  background-color: #C2C2C2;
  padding: 1rem;
}

.c-card__update {
  color: #fff;
  letter-spacing: -.4em;
  display: block;
  padding: 0.5rem 0;
  border-bottom: 1px solid #fff;
  font-size: 1.4rem;
}

.c-card__update dt,
.c-card__update dd {
  letter-spacing: normal;
  display: inline-block;
}

.c-card__update dt {
  width: 30%;
}

.c-card__update dd {
  width: 70%;
}

.c-card__update:last-child {
  border: none;
}

.c-catalog {
  background-color: #fff;
  display: block;
  padding: 1rem;
  font-size: 1.8rem;
  box-shadow: 7px 7px 11px rgba(0, 0, 0, 0.25);
  word-wrap: break-word;
}

.c-catalog__title {
  margin-bottom: 1rem;
  font-weight: bold;
  text-align: center;
  font-size: 1.4rem;
  text-align: left;
}

.c-catalog__text {
  margin-bottom: 1rem;
  color: #999999;
  font-size: 1rem;
}

.c-catalog__mv {
  height: 15rem;
  background-color: #ddd;
  margin-bottom: 1rem;
}

.c-catalog__updateset {
  width: 90%;
  float: right;
  box-shadow: 7px 7px 11px rgba(0, 0, 0, 0.25);
  background-color: #C2C2C2;
  padding: 1rem;
}

.c-catalog__update {
  color: #fff;
  letter-spacing: -.4em;
  display: block;
  padding: 0.5rem 0;
  border-bottom: 1px solid #fff;
  font-size: 1.4rem;
}

.c-catalog__update dt,
.c-catalog__update dd {
  letter-spacing: normal;
  display: inline-block;
}

.c-catalog__update dt {
  width: 30%;
}

.c-catalog__update dd {
  width: 70%;
}

.c-catalog__update:last-child {
  border: none;
}

.c-catalog__add {
  background-color: #ccc;
  min-height: 100px;
}

.c-catalog__add span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: #999999;
}

.c-product {
  width: 92%;
  margin: 0 auto;
}

.c-product__slidesbox {
  overflow-x: scroll;
}

.c-product__slides {
  width: 1500px;
}

.c-product__imgbox {
  flex-grow: 1;
}

.c-product__info {
  width: 60%;
  word-wrap: break-word;
  font-size: 1.4rem;
  color: #434343;
}

.c-product__headding {
  display: block;
  padding-bottom: 1rem;
  font-size: 1.7rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #999;
}

.c-product__keyword {
  display: block;
  padding-bottom: 1rem;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  letter-spacing: -.4em;
  font-size: 1.2rem;
  font-weight: bold;
}

.c-product__keyword li {
  display: inline-block;
  letter-spacing: normal;
  margin: 0 1rem 1rem 0;
}

.c-product__keyword a {
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #f6f6f6;
  color: #333;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.c-product__infoInner {
  margin-bottom: 1rem;
}

.c-product__infoText {
  margin-bottom: 2rem;
}

.c-product__component {
  width: 100%;
  display: block;
  letter-spacing: -.4em;
}

.c-product__componame {
  display: inline-block;
  width: 40%;
  letter-spacing: normal;
  vertical-align: top;
}

.c-product__compotext {
  display: inline-block;
  width: 60%;
  letter-spacing: normal;
  vertical-align: top;
}

.c-product__container {
  margin-bottom: 4rem;
}

.c-product__container:last-child {
  margin-bottom: 0;
}

.c-link {
  font-size: 1.4rem;
}

.c-link__inner {
  border-top: 1px solid #ccc;
}

.c-link__list {
  border-bottom: 1px solid #ccc;
  align-items: center;
  padding: 1rem;
}

.c-link__store {
  flex-grow: 1;
  align-items: center;
}

.c-link__text {
  width: 30%;
  align-items: center;
  word-break: break-all;
}

.c-link__ph {
  height: 73px;
  width: 73px;
  border-radius: 100%;
  background-color: #ccc;
  margin-right: 1rem;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
}

.c-link__ph--mini {
  height: 41px;
  width: 41px;
}

.c-link__name--text {
  word-break: break-all;
}

.c-link__add {
  display: block;
  text-align: center;
  padding: 2rem 0;
  border-bottom: 1px solid #ccc;
  color: #666;
  position: relative;
}

.c-link__addInner {
  display: inline-block;
  padding-right: 45px;
  position: relative;
}

.c-form {
  position: relative;
  width: 96%;
  margin: 0 auto 2rem;
}

.c-form__catalog {
  font-size: 1.4rem;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 2rem;
  color: #999;
  border: solid 1px #ddd;
  outline: 0;
  border-radius: 33px;
  box-shadow: 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.25) inset;
  margin: 0 auto;
  background: #f5f5f5 url("../img/i-search.png") no-repeat left center;
}

.c-menuall {
  position: relative;
  display: inline-block;
  float: right;
}

.c-menu {
  position: relative;
  width: 50px;
  height: 44px;
  display: inline-block;
}

.c-menu span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #AAA8A8;
  border-radius: 4px;
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.c-menu span:nth-of-type(1) {
  top: 0;
}

.c-menu span:nth-of-type(2) {
  top: 20px;
}

.c-menu span:nth-of-type(3) {
  bottom: 0;
}

@-webkit-keyframes active-menu-bar02 {
  100% {
    height: 0;
  }
}

@keyframes active-menu-bar02 {
  100% {
    height: 0;
  }
}

.c-arrow {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-top: 4px solid #999999;
  border-right: 4px solid #999999;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(0, -50%);
}

.c-arrow--right {
  right: 1.5rem;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

.c-arrow--left {
  left: 1.5rem;
  -moz-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
}

.c-recommended {
  position: relative;
  margin-bottom: 5rem;
}

.c-recommended__catalogs {
  width: 3000px;
}

.c-recommended__table {
  width: 3000px;
}

.c-recommended__table::after {
  position: absolute;
  content: " ";
  bottom: 0;
  height: 5rem;
  background-color: #999;
  width: 100%;
}

.c-recommended:last-child {
  margin-bottom: 0;
}

.c-item {
  width: 90%;
  margin: 0 auto;
}

/* Project --------------- */
.p-mv {
  padding-bottom: 10rem;
}

.p-breadcrumb {
  padding: 10px;
  font-size: 1.4rem;
  overflow: hidden;
  display: inline-block;
}

.p-contents {
  overflow: hidden;
  position: relative;
}

.p-product {
  background-color: #fff;
  padding: 5rem;
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}

.p-recommended {
  position: relative;
  overflow: hidden;
}

/* Utility --------------- */
.u-clearfix {
  overflow: hidden;
}

.u-clearfix::after {
  content: '';
  clear: both;
  display: table;
}

.u-align--left {
  float: left;
}

.u-align--right {
  float: right;
}

.u-rad__items {
  border-radius: 1rem;
}

.u-flex {
  display: flex;
  flex-flow: row wrap;
}
