@charset 'UTF-8';
/* Reset.cssやNormalize.cssなどを用いたブラウザのデフォルトスタイルの初期化や、プロジェクトにおける基本的なスタイルを定義します。
ページの下地としての全体の背景や、基本的なタイポグラフィなどが該当します。*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video
{
    font: inherit;
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
}

html
{
    line-height: 1;
}

ol,
ul
{
    list-style: none;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

caption,
th,
td
{
    font-weight: normal;

    text-align: left;
    vertical-align: middle;
}

q,
blockquote
{
    quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after
{
    content: '';
    content: none;
}

a img
{
    border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary
{
    display: block;
}

body
{
    font-family: Helvetica, '游ゴシック', 'Yu Gothic', sans-serif;

    position: relative;

    word-break: break-all;
}

html,
body
{
    font-size: 80%;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background: url('../img/bg.png');

    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
         -o-text-size-adjust: 100%;
            text-size-adjust: 100%;
    font-feature-settings: 'palt';
    -webkit-overflow-scrolling: touch;
}

a
{
    text-decoration: none;
}

div,
section,
article,
main
{
    display: block;
}

*
{
        box-sizing: border-box;

     -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

dt,
dl
{
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.ion-content
{
    font: inherit;
    font-family: Helvetica, '游ゴシック', 'Yu Gothic', sans-serif;
    font-size: 100%;
    font-size: 80%;

    position: relative;

    width: 100%;
    height: 100%;
    margin: 0;
    margin: 0;
    padding: 0;
    padding: 0;

    vertical-align: baseline;
    word-break: break-all;

    border: 0;
    background: url('../img/bg.png');

    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
         -o-text-size-adjust: 100%;
            text-size-adjust: 100%;
    font-feature-settings: 'palt';
    -webkit-overflow-scrolling: touch;
}

/** Layout ***************************************/
/* ページを構成するヘッダーやメインのコンテンツエリア、
サイドバーやフッターといったプロジェクト共通のコンテナーブロックのスタイルを定義します。*/
.l-footer
{
    font-size: 1.4rem;

    padding: 10px;

    background-color: #000;
}

.l-header
{
    font-size: 1.4rem;

    overflow: hidden;

    padding: 2rem 2rem;
}

.l-main
{
    float: left;

    width: 640px;
}

.l-side
{
    float: right;

    width: 300px;
}

/** Object ***************************************/
/* OOCSSのコンセプトを元に、プロジェクトにおける繰り返されるビジュアルパターンをすべてObjectと定義します。
FLOCSSでのObjectは、さらに次の3つのレイヤーに分けられます。*/
/* Component --------------- */
.c-header
{
    color: #fff;
}

.c-header__heading
{
    float: left;
}

.c-header__nav
{
    float: right;

    color: white;
}

.c-header__list
{
    display: inline-block;
}

.c-header__link
{
    color: white;
}

.c-footer
{
    text-align: center;

    color: #fff;
}

.c-breadcrumb__list
{
    display: inline-block;
}

.c-mv
{
    position: relative;

    height: 46rem;
}

.c-mv__parts--name
{
    font-size: 1.7rem;

    position: absolute;

    display: inline-block;

    padding: 2rem;

    color: #fff;
}

.c-mv__contents
{
    font-size: 2rem;

    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;

    transform: translate(-50%, -50%);
    text-align: center;

    color: #fff;
}

.c-mv__center
{
    width: 50%;
    margin: 0 auto;
}

.c-button__close
{
    font-weight: bold;

    position: absolute;
    top: 50%;
    right: 10px;

    display: inline-block;

    width: 30px;
    height: 30px;

    transform: translate(0, -50%);

    color: #999;
    border-radius: 100%;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
}

.c-button__close span
{
    position: absolute;
    left: 6px;

    display: inline-block;

    width: 60%;
    height: 2px;

    background-color: #aaa8a8;
}

.c-button__close span:nth-of-type(1)
{
    top: -6px;

    transform: translateY(20px) rotate(-45deg);
}

.c-button__close span:nth-of-type(2)
{
    top: 14px;

    transform: translateY(0) rotate(45deg);
}

.c-button__star
{
    font-weight: bold;

    position: absolute;
    top: 15px;
    right: 15px;

    display: inline-block;

    width: 36px;
    height: 36px;

    color: #fff;
    border-radius: 100%;
    background: #c0392a;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
}

.c-article
{
    line-height: 1.5;

    position: relative;

    width: 100%;
    margin: 2.5rem auto 0;
    padding: 0 0 2.5rem;
}

.c-contents__heading--name
{
    font-size: 1.4rem;

    display: block;

    margin: 0 0 2rem;

    text-align: center;
    text-align: center;
}

.c-contents__heading--name span
{
    display: inline-block;

    padding: .75rem;

    color: #c0392a;
    border: 1px solid #c0392a;
}

.c-contents__heading--product
{
    font-size: 2.4rem;
    font-weight: bold;

    margin: 0 0 5%;

    word-wrap: break-word;
}

.c-contents__heading--recommended
{
    font-size: 1.4rem;
    font-weight: bold;

    margin: 0 0 3rem;

    text-align: center;
    word-wrap: break-word;

    color: #999;
}

.c-contents__description
{
    font-size: 1.4rem;

    width: 70%;
    margin: 0 auto 6rem;

    text-align: center;
}

.c-contents__description span
{
    display: inline-block;

    padding-bottom: 2rem;

    border-bottom: .1rem solid #ccc;
}

.c-cols
{
    width: 100%;

    letter-spacing: -.4em;
}

.c-cols a
{
    position: relative;
    z-index: 5;

    display: block;
    clear: both;

    width: 100%;

    color: #333;
}

.c-cols__md-12
{
    width: 100%;
}

.c-cols__md-11
{
    width: 91.66666667%;
}

.c-cols__md-10
{
    width: 83.33333333%;
}

.c-cols__md-9
{
    width: 75%;
}

.c-cols__md-8
{
    width: 66.66666667%;
}

.c-cols__md-7
{
    width: 58.33333333%;
}

.c-cols__md-6
{
    width: 50%;
}

.c-cols__md-5
{
    width: 41.66666667%;
}

.c-cols__md-4
{
    width: 33.33333333%;
}

.c-cols__md-3
{
    width: 25%;
}

.c-cols__md-2
{
    width: 16.66666667%;
}

.c-cols__md-1
{
    width: 8.33333333%;
}

[class^='c-cols__']
{
    display: inline-block;

    vertical-align: top;
    letter-spacing: normal;
}

.c-card
{
    font-size: 1.8rem;

    display: block;

    padding: 7%;

    word-wrap: break-word;

    background-color: #fff;
    box-shadow: 7px 7px 11px rgba(0, 0, 0, .25);
}

.c-card__title
{
    font-size: 1.4rem;
    font-weight: bold;

    position: relative;

    display: table;

    height: 10rem;

    text-align: center;
    text-align: left;
}

.c-card__title span
{
    font-size: 2rem;
    line-height: 1.2;

    display: table-cell;

    vertical-align: middle;
    word-break: break-word;
}

.c-card__titleonly
{
    font-size: 1.4rem;
    font-weight: bold;

    position: relative;

    display: table;

    margin: 0 0 7%;

    text-align: left;
}

.c-card__titleonly span
{
    font-size: 2rem;
    line-height: 1.2;

    display: table-cell;

    vertical-align: middle;
    word-break: break-word;
}

.c-card__text
{
    font-size: 1rem;

    margin-bottom: 1rem;

    color: #999;
}

.c-card__mv
{
    position: relative;

    margin-bottom: 1rem;

    text-align: center;
}

.c-card__mv img
{
    width: 100%;
    max-width: 100%;
    max-height: 100%;

    vertical-align: bottom;
}

.c-card__updateset
{
    float: right;

    width: 90%;
    padding: 1rem;

    background-color: #c2c2c2;
    box-shadow: 7px 7px 11px rgba(0, 0, 0, .25);
}

.c-card__update
{
    font-size: 1.4rem;

    display: block;

    padding: .5rem 0;

    letter-spacing: -.4em;

    color: #fff;
    border-bottom: 1px solid #fff;
}

.c-card__update dt,
.c-card__update dd
{
    display: inline-block;

    letter-spacing: normal;
}

.c-card__update dt
{
    width: 30%;
}

.c-card__update dd
{
    width: 70%;
}

.c-card__update:last-child
{
    border: none;
}

.c-catalog
{
    font-size: 1.8rem;

    display: block;

    padding: 1rem;

    word-wrap: break-word;

    background-color: #fff;
    box-shadow: 7px 7px 11px rgba(0, 0, 0, .25);
}

.c-catalog__title
{
    font-size: 1.4rem;
    font-weight: bold;

    margin-bottom: 1rem;

    text-align: center;
    text-align: left;
}

.c-catalog__text
{
    font-size: 1rem;

    color: #999;
}

.c-catalog__mv
{
    max-height: 19rem;
    margin-bottom: 1rem;

    text-align: center;
}

.c-catalog__mv img
{
    max-width: 100%;
    max-height: 100%;
}

.c-catalog__updateset
{
    float: right;

    width: 100%;
    padding: 1rem;

    background-color: #c2c2c2;
}

.c-catalog__updatesettype
{
    float: right;

    width: 90%;
    padding: 1rem;

    background-color: #c2c2c2;
    box-shadow: 7px 7px 11px rgba(0, 0, 0, .25);
}

.c-catalog__update
{
    font-size: 1.3rem;

    display: block;

    padding: .5rem 0;

    letter-spacing: -.4em;

    color: #fff;
    border-bottom: 1px solid #fff;
}

.c-catalog__update dt,
.c-catalog__update dd
{
    display: inline-block;

    letter-spacing: normal;
    word-break: break-all;
}

.c-catalog__update dt
{
    width: 40%;
}

.c-catalog__update dd
{
    width: 60%;
}

.c-catalog__update:last-child
{
    border: none;
}

.c-catalog__add
{
    display: table;

    width: 100%;
    min-height: 553px;

    background-color: #eee;
    box-shadow: 0 0 4px rgba(0, 0, 0, .25) inset;
}

.c-catalog__addInner
{
    font-weight: bold;

    position: absolute;
    top: 50%;
    left: 50%;

    display: inline-block;

    padding-right: 45px;

    transform: translate(-50%, -50%);

    color: #999;
}

.c-product
{
    width: 94%;
    margin: 0 auto;
}

.c-product__slidesbox
{
    overflow-x: scroll;
}

.c-product__slides
{
    width: 1500px;
}

.c-product__imgbox
{
    position: relative;

    box-sizing: border-box;
    width: 40%;
    max-height: 31.4rem;

    text-align: center;
}

.c-product__imgbox img
{
    height: 100%;
}

.c-product__info
{
    font-size: 1.4rem;
    line-height: 1.3;

    box-sizing: border-box;
    width: 60%;
    padding: 0 0 0 3rem;

    word-wrap: break-word;

    color: #434343;
}

.c-product__headding
{
    font-size: 1.7rem;
    font-weight: bold;

    display: block;

    margin-bottom: 1rem;
    padding-bottom: 1rem;

    color: #999;
    border-bottom: 1px solid #ccc;
}

.c-product__keyword
{
    font-size: 1.4rem;
    font-size: 1.2rem;
    font-weight: bold;

    display: block;

    margin-bottom: 1rem;
    padding-bottom: 1rem;

    letter-spacing: -.4em;
}

.c-product__keyword li
{
    display: inline-block;

    margin: 0 1rem 1rem 0;

    letter-spacing: normal;
}

.c-product__keyword a
{
    display: block;

    padding: .5rem 1rem;

    color: #333;
    border-radius: .5rem;
    background-color: #f6f6f6;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .25);
}

.c-product__additional
{
    padding: 2%;

    border-radius: 10px;
    background-color: #f5f5f5;
}

.c-product__additional--text
{
    font-size: 12px;

    padding: 2% 0 0;

    word-break: break-all;
}

.c-product__infoInner
{
    margin-bottom: 1rem;
}

.c-product__infoText
{
    margin-bottom: 5%;
}

.c-product__component
{
    display: block;

    width: 100%;

    letter-spacing: -.4em;
}

.c-product__componame
{
    display: inline-block;

    width: 40%;

    vertical-align: top;
    letter-spacing: normal;
}

.c-product__compotext
{
    display: inline-block;

    width: 60%;

    vertical-align: top;
    letter-spacing: normal;
}

.c-product__container
{
    margin-bottom: 4rem;
}

.c-product__container:last-child
{
    margin-bottom: 0;
}

.c-product__updateset
{
    float: right;

    width: 100%;
    padding: 1rem;

    background-color: #c2c2c2;
}

.c-product__update
{
    font-size: 1.3rem;

    display: block;

    padding: .5rem 0;

    letter-spacing: -.4em;

    color: #fff;
    border-bottom: 1px solid #fff;
}

.c-product__update dt,
.c-product__update dd
{
    display: inline-block;

    letter-spacing: normal;
    word-break: break-all;
}

.c-product__update dt
{
    width: 50%;
}

.c-product__update dd
{
    width: 50%;
}

.c-product__update:last-child
{
    border: none;
}

.c-link
{
    font-size: 1.4rem;
}

.c-link__inner
{
    border-top: 1px solid #ccc;
}

.c-link__list
{
    padding: 1rem;

    border-bottom: 1px solid #ccc;

    -ms-flex-align: center;
    align-items: center;
}

.c-link__store
{
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}

.c-link__text
{
    width: 30%;

    word-break: break-all;

    -ms-flex-align: center;
    align-items: center;
}

.c-link__ph
{
    overflow: hidden;

    width: 73px;
    height: 73px;
    margin-right: 1rem;

    border-radius: 100%;
}

.c-link__ph--mini
{
    overflow: hidden;

    width: 41px;
    height: 41px;

    border-radius: 100%;
}

.c-link__ph img
{
    width: 100%;
}

.c-link__name--text
{
    word-break: break-all;
}

.c-link__add
{
    position: relative;

    display: block;

    padding: 2rem 0;

    text-align: center;

    color: #666;
    border-bottom: 1px solid #ccc;
}

.c-link__addInner
{
    font-weight: bold;

    display: table-cell;

    width: 100%;

    text-align: center;
    vertical-align: middle;
    word-break: break-all;

    color: #999;
}

.c-form
{
    position: relative;

    width: 96%;
    margin: 0 auto 2rem;
}

.c-form__catalog
{
    font-size: 1.4rem;

    display: block;

    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 2rem 1rem 4rem;

    color: #999;
    border: solid 1px #ddd;
    border-radius: 33px;
    outline: 0;
    box-shadow: .2rem .2rem .1rem rgba(0, 0, 0, .25) inset;
}

.c-form__search
{
    background: #f5f5f5 url(../img/i-search.png) no-repeat left 14px top 10px;
    background-size: 2.5rem;
}

.c-menu
{
    font-size: 1.4rem;
    font-weight: bold;

    position: relative;

    padding: 1.6rem 1rem;

    text-align: center;

    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .25);
}

.c-menu ul
{
    display: table;

    width: 100%;
}

.c-menu ul li
{
    display: table-cell;
}

.c-menu ul li:nth-of-type(1)
{
    width: 20%;
}

.c-menu ul li:nth-of-type(2)
{
    width: 60%;

    text-align: center;
}

.c-menu ul li:nth-of-type(3)
{
    position: relative;

    width: 20%;
}

.c-menu__ham
{
    position: absolute;
    top: -3px;
    right: 0;

    display: inline-block;

    box-sizing: border-box;
    width: 30px;
    height: 14px;

    transition: all .4s;

    color: black;
}

.c-menu__ham span
{
    position: absolute;
    left: 0;

    display: inline-block;

    box-sizing: border-box;
    width: 100%;
    height: 4px;

    transition: all .4s;

    border-radius: 4px;
    background-color: #000;
}

.c-menu__ham span:nth-of-type(1)
{
    top: 0;
}

.c-menu__ham span:nth-of-type(2)
{
    top: 20px;
}

.c-menu__ham span:nth-of-type(3)
{
    bottom: 0;
}

.c-menu__hamb
{
    position: absolute;
    top: 14px;
    right: 4%;

    display: inline-block;

    box-sizing: border-box;
    width: 30px;
    height: 14px;

    transition: all .4s;

    color: black;
}

.c-menu__hamb span
{
    position: absolute;
    left: 0;

    display: inline-block;

    box-sizing: border-box;
    width: 100%;
    height: 2px;

    transition: all .4s;

    background-color: #aaa8a8;
}

.c-menu__hamb span:nth-of-type(1)
{
    top: 0;
}

.c-menu__hamb span:nth-of-type(2)
{
    top: 20px;
}

.c-menu__hamb span:nth-of-type(3)
{
    bottom: 2px;
}

.c-arrow
{
    position: absolute;
    top: 50%;

    display: inline-block;

    width: 30px;
    height: 30px;

    transform: translate(0, -50%);

    border-top: 4px solid #999;
    border-right: 4px solid #999;
}

.c-arrow--right
{
    right: 1.5rem;

    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
}

.c-arrow--left
{
    left: 1.5rem;

    -webkit-transform: rotate(225deg);
       -moz-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
         -o-transform: rotate(225deg);
}

.c-arrowmenu
{
    top: 20px;

    width: 15px;
    height: 15px;
}

.c-recommended
{
    position: relative;

    margin-bottom: 5rem;
}

.c-recommended__slide
{
    width: 3000px;
    min-width: 3000px;
    padding-bottom: 1rem;
}

.c-recommended__slidebox
{
    overflow-x: scroll;
}

.c-recommended__slidebox::after
{
    position: absolute;
    bottom: 0;

    width: 100%;
    min-width: 3000px;
    height: 5rem;

    content: ' ';

    background-color: #999;
}

.c-recommended__catalogs
{
    width: 3000px;
}

.c-recommended__table
{
    width: 3000px;
}

.c-recommended__table::after
{
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 5rem;

    content: ' ';

    background-color: #999;
}

.c-recommended:last-child
{
    margin-bottom: 0;
}

.c-item
{
    width: 94%;
    margin: 0 auto;
}

.c-additional
{
    letter-spacing: -.4em;
}

.c-additional__list
{
    display: inline-block;

    width: 80px;

    letter-spacing: normal;
}

.c-additional__link
{
    display: block;
}

.c-additional__link img
{
    width: 100%;
}

/* Project --------------- */
.p-mv
{
    padding-bottom: 10rem;
}

.p-breadcrumb
{
    font-size: 1.4rem;

    display: inline-block;
    overflow: hidden;

    padding: 10px;
}

.p-contents
{
    position: relative;

    overflow: hidden;
}

.p-product
{
    position: relative;

    padding: 4%;

    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, .25);
}

.p-recommended
{
    position: relative;

    overflow: hidden;
}

/* Utility --------------- */
.u-clearfix
{
    overflow: hidden;
}

.u-clearfix::after
{
    display: table;
    clear: both;

    content: '';
}

.u-align--left
{
    float: left;
}

.u-align--right
{
    float: right;
}

.u-mg0
{
    margin: 0;
}

.u-mg0t
{
    margin-top: 0;
}

.u-mg0b
{
    margin-bottom: 0;
}

.u-mg0l
{
    margin-left: 0;
}

.u-mg0r
{
    margin-right: 0;
}

.u-mg0
{
    margin: 0;
}

.u-mg0t
{
    margin-top: 0;
}

.u-mg0b
{
    margin-bottom: 0;
}

.u-mg0l
{
    margin-left: 0;
}

.u-mg0r
{
    margin-right: 0;
}

.u-mg1
{
    margin: 1%;
}

.u-mg1t
{
    margin-top: 1%;
}

.u-mg1b
{
    margin-bottom: 1%;
}

.u-mg1l
{
    margin-left: 1%;
}

.u-mg1r
{
    margin-right: 1%;
}

.u-mg1
{
    margin: 1%;
}

.u-mg1t
{
    margin-top: 1%;
}

.u-mg1b
{
    margin-bottom: 1%;
}

.u-mg1l
{
    margin-left: 1%;
}

.u-mg1r
{
    margin-right: 1%;
}

.u-mg2
{
    margin: 2%;
}

.u-mg2t
{
    margin-top: 2%;
}

.u-mg2b
{
    margin-bottom: 2%;
}

.u-mg2l
{
    margin-left: 2%;
}

.u-mg2r
{
    margin-right: 2%;
}

.u-mg2
{
    margin: 2%;
}

.u-mg2t
{
    margin-top: 2%;
}

.u-mg2b
{
    margin-bottom: 2%;
}

.u-mg2l
{
    margin-left: 2%;
}

.u-mg2r
{
    margin-right: 2%;
}

.u-mg3
{
    margin: 3%;
}

.u-mg3t
{
    margin-top: 3%;
}

.u-mg3b
{
    margin-bottom: 3%;
}

.u-mg3l
{
    margin-left: 3%;
}

.u-mg3r
{
    margin-right: 3%;
}

.u-mg3
{
    margin: 3%;
}

.u-mg3t
{
    margin-top: 3%;
}

.u-mg3b
{
    margin-bottom: 3%;
}

.u-mg3l
{
    margin-left: 3%;
}

.u-mg3r
{
    margin-right: 3%;
}

.u-mg4
{
    margin: 4%;
}

.u-mg4t
{
    margin-top: 4%;
}

.u-mg4b
{
    margin-bottom: 4%;
}

.u-mg4l
{
    margin-left: 4%;
}

.u-mg4r
{
    margin-right: 4%;
}

.u-mg4
{
    margin: 4%;
}

.u-mg4t
{
    margin-top: 4%;
}

.u-mg4b
{
    margin-bottom: 4%;
}

.u-mg4l
{
    margin-left: 4%;
}

.u-mg4r
{
    margin-right: 4%;
}

.u-mg5
{
    margin: 5%;
}

.u-mg5t
{
    margin-top: 5%;
}

.u-mg5b
{
    margin-bottom: 5%;
}

.u-mg5l
{
    margin-left: 5%;
}

.u-mg5r
{
    margin-right: 5%;
}

.u-mg5
{
    margin: 5%;
}

.u-mg5t
{
    margin-top: 5%;
}

.u-mg5b
{
    margin-bottom: 5%;
}

.u-mg5l
{
    margin-left: 5%;
}

.u-mg5r
{
    margin-right: 5%;
}

.u-mg6
{
    margin: 6%;
}

.u-mg6t
{
    margin-top: 6%;
}

.u-mg6b
{
    margin-bottom: 6%;
}

.u-mg6l
{
    margin-left: 6%;
}

.u-mg6r
{
    margin-right: 6%;
}

.u-mg6
{
    margin: 6%;
}

.u-mg6t
{
    margin-top: 6%;
}

.u-mg6b
{
    margin-bottom: 6%;
}

.u-mg6l
{
    margin-left: 6%;
}

.u-mg6r
{
    margin-right: 6%;
}

.u-mg7
{
    margin: 7%;
}

.u-mg7t
{
    margin-top: 7%;
}

.u-mg7b
{
    margin-bottom: 7%;
}

.u-mg7l
{
    margin-left: 7%;
}

.u-mg7r
{
    margin-right: 7%;
}

.u-mg7
{
    margin: 7%;
}

.u-mg7t
{
    margin-top: 7%;
}

.u-mg7b
{
    margin-bottom: 7%;
}

.u-mg7l
{
    margin-left: 7%;
}

.u-mg7r
{
    margin-right: 7%;
}

.u-mg8
{
    margin: 8%;
}

.u-mg8t
{
    margin-top: 8%;
}

.u-mg8b
{
    margin-bottom: 8%;
}

.u-mg8l
{
    margin-left: 8%;
}

.u-mg8r
{
    margin-right: 8%;
}

.u-mg8
{
    margin: 8%;
}

.u-mg8t
{
    margin-top: 8%;
}

.u-mg8b
{
    margin-bottom: 8%;
}

.u-mg8l
{
    margin-left: 8%;
}

.u-mg8r
{
    margin-right: 8%;
}

.u-mg9
{
    margin: 9%;
}

.u-mg9t
{
    margin-top: 9%;
}

.u-mg9b
{
    margin-bottom: 9%;
}

.u-mg9l
{
    margin-left: 9%;
}

.u-mg9r
{
    margin-right: 9%;
}

.u-mg9
{
    margin: 9%;
}

.u-mg9t
{
    margin-top: 9%;
}

.u-mg9b
{
    margin-bottom: 9%;
}

.u-mg9l
{
    margin-left: 9%;
}

.u-mg9r
{
    margin-right: 9%;
}

.u-mg10
{
    margin: 10%;
}

.u-mg10t
{
    margin-top: 10%;
}

.u-mg10b
{
    margin-bottom: 10%;
}

.u-mg10l
{
    margin-left: 10%;
}

.u-mg10r
{
    margin-right: 10%;
}

.u-mg10
{
    margin: 10%;
}

.u-mg10t
{
    margin-top: 10%;
}

.u-mg10b
{
    margin-bottom: 10%;
}

.u-mg10l
{
    margin-left: 10%;
}

.u-mg10r
{
    margin-right: 10%;
}

.u-fsize--l
{
    font-size: 2.4rem;
    font-size: 24px;
}

.u-fsize--m
{
    font-size: 1.7rem;
    font-size: 17px;
}

.u-fsize--s
{
    font-size: 1.4rem;
    font-size: 14px;
}

.u-fsize--xs
{
    font-size: 1rem;
    font-size: 10px;
}

.u-fsize--action
{
    font-size: 2rem;
    font-size: 20px;
}

.u-fsize--segment
{
    font-size: 1.3rem;
    font-size: 13px;
}

.u-rad__items
{
    border-radius: 1rem;
}

.u-flex
{
    display: -ms-flexbox;
    display: flex;

    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
}

.u-pd0
{
    padding: 0;
}

.u-pd0t
{
    padding-top: 0;
}

.u-pd0b
{
    padding-bottom: 0;
}

.u-pd0l
{
    padding-left: 0;
}

.u-pd0r
{
    padding-right: 0;
}

.u-pd0
{
    padding: 0;
}

.u-pd0t
{
    padding-top: 0;
}

.u-pd0b
{
    padding-bottom: 0;
}

.u-pd0l
{
    padding-left: 0;
}

.u-pd0r
{
    padding-right: 0;
}

.u-pd1
{
    padding: 1%;
}

.u-pd1t
{
    padding-top: 1%;
}

.u-pd1b
{
    padding-bottom: 1%;
}

.u-pd1l
{
    padding-left: 1%;
}

.u-pd1r
{
    padding-right: 1%;
}

.u-pd1
{
    padding: 1%;
}

.u-pd1t
{
    padding-top: 1%;
}

.u-pd1b
{
    padding-bottom: 1%;
}

.u-pd1l
{
    padding-left: 1%;
}

.u-pd1r
{
    padding-right: 1%;
}

.u-pd2
{
    padding: 2%;
}

.u-pd2t
{
    padding-top: 2%;
}

.u-pd2b
{
    padding-bottom: 2%;
}

.u-pd2l
{
    padding-left: 2%;
}

.u-pd2r
{
    padding-right: 2%;
}

.u-pd2
{
    padding: 2%;
}

.u-pd2t
{
    padding-top: 2%;
}

.u-pd2b
{
    padding-bottom: 2%;
}

.u-pd2l
{
    padding-left: 2%;
}

.u-pd2r
{
    padding-right: 2%;
}

.u-pd3
{
    padding: 3%;
}

.u-pd3t
{
    padding-top: 3%;
}

.u-pd3b
{
    padding-bottom: 3%;
}

.u-pd3l
{
    padding-left: 3%;
}

.u-pd3r
{
    padding-right: 3%;
}

.u-pd3
{
    padding: 3%;
}

.u-pd3t
{
    padding-top: 3%;
}

.u-pd3b
{
    padding-bottom: 3%;
}

.u-pd3l
{
    padding-left: 3%;
}

.u-pd3r
{
    padding-right: 3%;
}

.u-pd4
{
    padding: 4%;
}

.u-pd4t
{
    padding-top: 4%;
}

.u-pd4b
{
    padding-bottom: 4%;
}

.u-pd4l
{
    padding-left: 4%;
}

.u-pd4r
{
    padding-right: 4%;
}

.u-pd4
{
    padding: 4%;
}

.u-pd4t
{
    padding-top: 4%;
}

.u-pd4b
{
    padding-bottom: 4%;
}

.u-pd4l
{
    padding-left: 4%;
}

.u-pd4r
{
    padding-right: 4%;
}

.u-pd5
{
    padding: 5%;
}

.u-pd5t
{
    padding-top: 5%;
}

.u-pd5b
{
    padding-bottom: 5%;
}

.u-pd5l
{
    padding-left: 5%;
}

.u-pd5r
{
    padding-right: 5%;
}

.u-pd5
{
    padding: 5%;
}

.u-pd5t
{
    padding-top: 5%;
}

.u-pd5b
{
    padding-bottom: 5%;
}

.u-pd5l
{
    padding-left: 5%;
}

.u-pd5r
{
    padding-right: 5%;
}

.u-pd6
{
    padding: 6%;
}

.u-pd6t
{
    padding-top: 6%;
}

.u-pd6b
{
    padding-bottom: 6%;
}

.u-pd6l
{
    padding-left: 6%;
}

.u-pd6r
{
    padding-right: 6%;
}

.u-pd6
{
    padding: 6%;
}

.u-pd6t
{
    padding-top: 6%;
}

.u-pd6b
{
    padding-bottom: 6%;
}

.u-pd6l
{
    padding-left: 6%;
}

.u-pd6r
{
    padding-right: 6%;
}

.u-pd7
{
    padding: 7%;
}

.u-pd7t
{
    padding-top: 7%;
}

.u-pd7b
{
    padding-bottom: 7%;
}

.u-pd7l
{
    padding-left: 7%;
}

.u-pd7r
{
    padding-right: 7%;
}

.u-pd7
{
    padding: 7%;
}

.u-pd7t
{
    padding-top: 7%;
}

.u-pd7b
{
    padding-bottom: 7%;
}

.u-pd7l
{
    padding-left: 7%;
}

.u-pd7r
{
    padding-right: 7%;
}

.u-pd8
{
    padding: 8%;
}

.u-pd8t
{
    padding-top: 8%;
}

.u-pd8b
{
    padding-bottom: 8%;
}

.u-pd8l
{
    padding-left: 8%;
}

.u-pd8r
{
    padding-right: 8%;
}

.u-pd8
{
    padding: 8%;
}

.u-pd8t
{
    padding-top: 8%;
}

.u-pd8b
{
    padding-bottom: 8%;
}

.u-pd8l
{
    padding-left: 8%;
}

.u-pd8r
{
    padding-right: 8%;
}

.u-pd9
{
    padding: 9%;
}

.u-pd9t
{
    padding-top: 9%;
}

.u-pd9b
{
    padding-bottom: 9%;
}

.u-pd9l
{
    padding-left: 9%;
}

.u-pd9r
{
    padding-right: 9%;
}

.u-pd9
{
    padding: 9%;
}

.u-pd9t
{
    padding-top: 9%;
}

.u-pd9b
{
    padding-bottom: 9%;
}

.u-pd9l
{
    padding-left: 9%;
}

.u-pd9r
{
    padding-right: 9%;
}

.u-pd10
{
    padding: 10%;
}

.u-pd10t
{
    padding-top: 10%;
}

.u-pd10b
{
    padding-bottom: 10%;
}

.u-pd10l
{
    padding-left: 10%;
}

.u-pd10r
{
    padding-right: 10%;
}

.u-pd10
{
    padding: 10%;
}

.u-pd10t
{
    padding-top: 10%;
}

.u-pd10b
{
    padding-bottom: 10%;
}

.u-pd10l
{
    padding-left: 10%;
}

.u-pd10r
{
    padding-right: 10%;
}
