.c- {
    &navi {
        padding: 1rem;
        font-size: 1.4rem;
        letter-spacing: -.4rem;
        text-align: center;
        &__list {
            letter-spacing: normal;
            display: inline-block;
            &:first-child a {
                &::before {
                    content: "←";
                }
            }
            &:last-child a {
                &::after {
                    content: "→";
                }
            }
        }
        &__link {
            padding: 1rem;
            color: #333;
        }
    }
}