<% var absolutePath=f ilename.split(site.developDir)[filename.split(site.developDir).length -1].replace( '.ejs', '.html'); var relativePath='../' .repeat([absolutePath.split( '/').length -1]); var css_js_Path='../' .repeat([absolutePath.split( '/').length
-3]); var page={ title: site.title.B1213 + "｜" + site.name, description: site.description.B1213, keywords: site.keywords, projectName: site.name, bodyClass: "c-top", singleCss: [ "main.css"], singleJs: [], ogpType: "website", ogpImage: site.ogpImage,
absolutePath: absolutePath, relativePath: relativePath, css_js_Path:css_js_Path }; -%>

  <%- include(page.relativePath + '_common/ejs/_head', {page: page, modifier: '',}); %>
    <%# include(page.relativePath + '_common/ejs/_menu', {page: page, modifier: '',}); %>
      <!-- contents -->
      <article class="l-contents">
        <div class="p-config">
          <div class="c-config u-fpd60t">
            <%- include(page.relativePath + '_common/ejs/_config', {page: page, modifier: '', type: 'LinkAdd',}); %>
          </div>
        </div>
      </article>
      <!-- /contents -->
      <%- include(page.relativePath + '_common/ejs/_footer', {page: page, modifier: '',}); %>
        <%- include(page.relativePath + '_common/ejs/_script', {page: page, modifier: '',}); %>
