.u- {
    &icon {
        &--product {
            background: url(../image/product.svg) no-repeat right 0;
            background-size: contain;
        }
        &__check {
            &--off {
                background: url(../image/check--off.svg) no-repeat right 0.5rem top 0.5rem;
                background-size: 2rem;
            }
            &--on {
                background: url(../image/check--on.svg) no-repeat right 0.5rem top 0.5rem;
                background-size: 2rem;
            }
        }
    }
}