<%
var absolutePath = filename.split(site.developDir)[filename.split(site.developDir).length -1].replace('.ejs','.html');
var relativePath = '../'.repeat([absolutePath.split('/').length -1]);
var css_js_Path = '../'.repeat([absolutePath.split('/').length -3]);
var page = {
  title: site.title.A12 + "｜" + site.name,
  description: site.description.A12,
  keywords: site.keywords,
  projectName: site.name,
  bodyClass: "c-top",
  singleCss: ["main.css"],
  singleJs: [],
  ogpType: "website",
  ogpImage: site.ogpImage,
  absolutePath: absolutePath,
  relativePath: relativePath,
  css_js_Path:css_js_Path
};
-%>

<%- include(page.relativePath + '_common/ejs/_head', {page: page, modifier: '',}); %>
<!-- contents -->
<article class="l-contents">
  <div class="p-contents">
    <div class="c-article">
    <a class="c-menu__hamb" href="#">
          <span></span>
          <span></span>
          <span></span>
        </a>
      <h1 class="c-contents__heading--name"><span>Your Customer Name Space</span></h1>
      <section class="p-catalog c-cols c-item">
        <%- include(page.relativePath + '_common/ejs/_card', {page: page, modifier: 'u-shadow--catalog', cols: 'c-cols__md-6', padding:'u-fpd30l u-fpd30r u-fmg30b', type:'p-catalog', fixed:'', height:'c-card__mv--fixed'}); %>
      </section>
    </div>
  </div>
</article>
<!-- /contents -->
<%- include(page.relativePath + '_common/ejs/_footer', {page: page, modifier: '',}); %>
<%- include(page.relativePath + '_common/ejs/_script', {page: page, modifier: '',}); %>
