.c- {
    &parts {
        &__title {
            margin-bottom: 1rem;
            text-align: center;
        }
        &__text {
            margin-bottom: 1rem;
        }
        &__mv {
            height: 20rem;
            background-color: #ddd;
            margin-bottom: 1rem;
        }
    }
}