@charset 'UTF-8';
/* Reset.cssやNormalize.cssなどを用いたブラウザのデフォルトスタイルの初期化や、プロジェクトにおける基本的なスタイルを定義します。
ページの下地としての全体の背景や、基本的なタイポグラフィなどが該当します。*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video
{
    font: inherit;
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
}

html
{
    line-height: 1;
}

ol,
ul
{
    list-style: none;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

caption,
th,
td
{
    font-weight: normal;

    text-align: left;
    vertical-align: middle;
}

q,
blockquote
{
    quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after
{
    content: '';
    content: none;
}

a img
{
    border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary
{
    display: block;
}

body
{
    font-family: Helvetica, '游ゴシック', 'Yu Gothic', sans-serif;

    position: relative;
}

html,
body
{
    font-size: 62.5%;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
         -o-text-size-adjust: 100%;
            text-size-adjust: 100%;
    font-feature-settings: 'palt';
    -webkit-overflow-scrolling: touch;
}

a
{
    text-decoration: none;
}

div,
section,
article,
main
{
    display: block;
}

*
{
        box-sizing: border-box;

     -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html
{
    font-family: sans-serif;
    /* 1 */

        -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

/**
 * Remove default margin.
 */
body
{
    margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary
{
    display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video
{
    display: inline-block;
    /* 1 */

    vertical-align: baseline;
    /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls])
{
    display: none;

    height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
template
{
    display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a
{
    background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover
{
    outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title]
{
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong
{
    font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn
{
    font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1
{
    font-size: 2.4em;

    margin: .67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark
{
    color: #000;
    background: #ff0;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small
{
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup
{
    font-size: 75%;
    line-height: 0;

    position: relative;

    vertical-align: baseline;
}

sup
{
    top: -.5em;
}

sub
{
    bottom: -.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img
{
    border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root)
{
    overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure
{
    margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr
{
    box-sizing: content-box;
    height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre
{
    overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp
{
    font-family: monospace, monospace;
    font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea
{
    /* 1 */
    font: inherit;
    /* 2 */

    margin: 0;

    color: inherit;
    /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button
{
    overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select
{
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type='button'],
input[type='reset'],
input[type='submit']
{
    /* 2 */
    cursor: pointer;

    -webkit-appearance: button;
       -moz-appearance: button;
            appearance: button;
    /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled]
{
    cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner
{
    padding: 0;

    border: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input
{
    line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type='checkbox'],
input[type='radio']
{
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button
{
    height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type='search']
{
    /* 1 */
    box-sizing: content-box;

    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
    /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration
{
    -webkit-appearance: none;
            appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset
{
    margin: 0 2px;
    padding: .35em .625em .75em;

    border: 1px solid #c0c0c0;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend
{
    /* 1 */
    padding: 0;

    border: 0;
    /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea
{
    overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup
{
    font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table
{
    border-spacing: 0;
    border-collapse: collapse;
}

td,
th
{
    padding: 0;
}

/** Layout ***************************************/
/* ページを構成するヘッダーやメインのコンテンツエリア、
サイドバーやフッターといったプロジェクト共通のコンテナーブロックのスタイルを定義します。*/
.l-footer
{
    font-size: 1.4rem;

    padding: 10px;

    background-color: #000;
}

.l-header
{
    font-size: 1.4rem;

    overflow: hidden;

    padding: 2rem 2rem;
}

.l-main
{
    float: left;

    width: 640px;
}

.l-side
{
    float: right;

    width: 300px;
}

/** Object ***************************************/
/* OOCSSのコンセプトを元に、プロジェクトにおける繰り返されるビジュアルパターンをすべてObjectと定義します。
FLOCSSでのObjectは、さらに次の3つのレイヤーに分けられます。*/
/* Component --------------- */
.c-header
{
    color: #fff;
}

.c-header__heading
{
    float: left;
}

.c-header__nav
{
    float: right;

    color: white;
}

.c-header__list
{
    display: inline-block;
}

.c-header__link
{
    color: white;
}

.c-footer
{
    text-align: center;

    color: #fff;
}

.c-breadcrumb__list
{
    display: inline-block;
}

.c-mv
{
    position: relative;

    height: 46rem;
}

.c-mv__parts--name
{
    font-size: 1.7rem;

    position: absolute;

    display: inline-block;

    padding: 2rem;

    color: #fff;
}

.c-mv__contents
{
    font-size: 2rem;

    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;

    transform: translate(-50%, -50%);
    text-align: center;

    color: #fff;
}

.c-mv__center
{
    width: 50%;
    margin: 0 auto;
}

.c-button__close
{
    font-weight: bold;

    position: absolute;
    top: 50%;
    right: 10px;

    display: inline-block;

    width: 30px;
    height: 30px;

    transform: translate(0, -50%);

    color: #999;
    border-radius: 100%;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
}

.c-button__close span
{
    position: absolute;
    left: 6px;

    display: inline-block;

    width: 60%;
    height: 2px;

    background-color: #aaa8a8;
}

.c-button__close span:nth-of-type(1)
{
    top: -6px;

    transform: translateY(20px) rotate(-45deg);
}

.c-button__close span:nth-of-type(2)
{
    top: 14px;

    transform: translateY(0) rotate(45deg);
}

.c-button__star
{
    font-weight: bold;

    position: absolute;
    top: 15px;
    right: 15px;

    display: inline-block;

    width: 36px;
    height: 36px;

    color: #fff;
    border-radius: 100%;
    background: #c0392a;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
}

.c-article
{
    line-height: 1.5;

    position: relative;

    width: 100%;
    margin: 2.5rem auto 0;
    padding: 0 0 2.5rem;
}

.c-contents__heading--name
{
    font-size: 1.4rem;

    display: block;

    margin: 0 0 2rem;

    text-align: center;
    text-align: center;
}

.c-contents__heading--name span
{
    display: inline-block;

    padding: .75rem;

    color: #c0392a;
    border: 1px solid #c0392a;
}

.c-contents__heading--product
{
    font-size: 2.4rem;
    font-weight: bold;

    margin: 0 0 3rem;

    word-wrap: break-word;
}

.c-contents__heading--recommended
{
    font-size: 1.4rem;
    font-weight: bold;

    margin: 0 0 3rem;

    text-align: center;
    word-wrap: break-word;

    color: #999;
}

.c-contents__description
{
    font-size: 1.4rem;

    width: 70%;
    margin: 0 auto 6rem;

    text-align: center;
}

.c-contents__description span
{
    display: inline-block;

    padding-bottom: 2rem;

    border-bottom: .1rem solid #ccc;
}

.c-cols
{
    width: 100%;

    letter-spacing: -.4em;
}

.c-cols a
{
    position: relative;
    z-index: 5;

    display: block;
    clear: both;

    width: 100%;

    color: #333;
}

.c-cols__md-12
{
    width: 100%;
}

.c-cols__md-11
{
    width: 91.66666667%;
}

.c-cols__md-10
{
    width: 83.33333333%;
}

.c-cols__md-9
{
    width: 75%;
}

.c-cols__md-8
{
    width: 66.66666667%;
}

.c-cols__md-7
{
    width: 58.33333333%;
}

.c-cols__md-6
{
    width: 50%;
}

.c-cols__md-5
{
    width: 41.66666667%;
}

.c-cols__md-4
{
    width: 33.33333333%;
}

.c-cols__md-3
{
    width: 25%;
}

.c-cols__md-2
{
    width: 16.66666667%;
}

.c-cols__md-1
{
    width: 8.33333333%;
}

[class^='c-cols__']
{
    display: inline-block;

    margin-bottom: 3rem;
    padding: 0 2rem;

    vertical-align: top;
    letter-spacing: normal;
}

.c-card
{
    font-size: 1.8rem;

    display: block;

    padding: 7%;

    word-wrap: break-word;

    background-color: #fff;
    box-shadow: 7px 7px 11px rgba(0, 0, 0, .25);
}

.c-card__title
{
    font-size: 1.4rem;
    font-weight: bold;

    position: relative;

    height: 10rem;

    text-align: center;
    text-align: left;
}

.c-card__title span
{
    font-size: 2rem;

    position: absolute;
    top: 50%;

    transform: translate(0, -50%);
}

.c-card__titleonly
{
    font-size: 1.4rem;
    font-weight: bold;

    position: relative;

    margin: 1rem 0;

    text-align: left;
}

.c-card__text
{
    font-size: 1rem;

    margin-bottom: 1rem;

    color: #999;
}

.c-card__mv
{
    position: relative;

    margin-bottom: 7.5%;

    text-align: center;
}

.c-card__mv img
{
    width: 100%;
    max-width: 100%;
    max-height: 100%;

    vertical-align: bottom;
}

.c-card__updateset
{
    float: right;

    width: 90%;
    padding: 1rem;

    background-color: #c2c2c2;
    box-shadow: 7px 7px 11px rgba(0, 0, 0, .25);
}

.c-card__update
{
    font-size: 1.4rem;

    display: block;

    padding: .5rem 0;

    letter-spacing: -.4em;

    color: #fff;
    border-bottom: 1px solid #fff;
}

.c-card__update dt,
.c-card__update dd
{
    display: inline-block;

    letter-spacing: normal;
}

.c-card__update dt
{
    width: 30%;
}

.c-card__update dd
{
    width: 70%;
}

.c-card__update:last-child
{
    border: none;
}

.c-catalog
{
    font-size: 1.8rem;

    display: block;

    padding: 1rem;

    word-wrap: break-word;

    background-color: #fff;
    box-shadow: 7px 7px 11px rgba(0, 0, 0, .25);
}

.c-catalog__title
{
    font-size: 1.4rem;
    font-weight: bold;

    margin-bottom: 1rem;

    text-align: center;
    text-align: left;
}

.c-catalog__text
{
    font-size: 1rem;

    margin-bottom: 1rem;

    color: #999;
}

.c-catalog__mv
{
    max-height: 19rem;
    margin-bottom: 1rem;

    text-align: center;
}

.c-catalog__mv img
{
    max-width: 100%;
    max-height: 100%;
}

.c-catalog__updateset
{
    float: right;

    width: 90%;
    padding: 1rem;

    background-color: #c2c2c2;
    box-shadow: 7px 7px 11px rgba(0, 0, 0, .25);
}

.c-catalog__update
{
    font-size: 1.3rem;

    display: block;

    padding: .5rem 0;

    letter-spacing: -.4em;

    color: #fff;
    border-bottom: 1px solid #fff;
}

.c-catalog__update dt,
.c-catalog__update dd
{
    display: inline-block;

    letter-spacing: normal;
}

.c-catalog__update dt
{
    width: 40%;
}

.c-catalog__update dd
{
    width: 60%;
}

.c-catalog__update:last-child
{
    border: none;
}

.c-catalog__add
{
    min-height: 553px;

    background-color: #eee;
    box-shadow: 0 0 4px rgba(0, 0, 0, .25) inset;
}

.c-catalog__addInner
{
    font-weight: bold;

    position: absolute;
    top: 50%;
    left: 50%;

    display: inline-block;

    padding-right: 45px;

    transform: translate(-50%, -50%);

    color: #999;
}

.c-product
{
    width: 92%;
    margin: 0 auto;
}

.c-product__slidesbox
{
    overflow-x: scroll;
}

.c-product__slides
{
    width: 1500px;
}

.c-product__imgbox
{
    position: relative;

    box-sizing: border-box;
    width: 40%;

    text-align: center;
}

.c-product__imgbox img
{
    max-width: 100%;
    max-height: 100%;
}

.c-product__info
{
    font-size: 1.4rem;
    line-height: 1.3;

    box-sizing: border-box;
    width: 60%;
    padding: 0 0 0 3rem;

    word-wrap: break-word;

    color: #434343;
}

.c-product__headding
{
    font-size: 1.7rem;
    font-weight: bold;

    display: block;

    margin-bottom: 1rem;
    padding-bottom: 1rem;

    color: #999;
    border-bottom: 1px solid #ccc;
}

.c-product__keyword
{
    font-size: 1.4rem;
    font-size: 1.2rem;
    font-weight: bold;

    display: block;

    margin-bottom: 1rem;
    padding-bottom: 1rem;

    letter-spacing: -.4em;
}

.c-product__keyword li
{
    display: inline-block;

    margin: 0 1rem 1rem 0;

    letter-spacing: normal;
}

.c-product__keyword a
{
    display: block;

    padding: .5rem 1rem;

    color: #333;
    border-radius: .5rem;
    background-color: #f6f6f6;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .25);
}

.c-product__infoInner
{
    margin-bottom: 1rem;
}

.c-product__infoText
{
    margin-bottom: 2rem;
}

.c-product__component
{
    display: block;

    width: 100%;

    letter-spacing: -.4em;
}

.c-product__componame
{
    display: inline-block;

    width: 40%;

    vertical-align: top;
    letter-spacing: normal;
}

.c-product__compotext
{
    display: inline-block;

    width: 60%;

    vertical-align: top;
    letter-spacing: normal;
}

.c-product__container
{
    margin-bottom: 4rem;
}

.c-product__container:last-child
{
    margin-bottom: 0;
}

.c-link
{
    font-size: 1.4rem;
}

.c-link__inner
{
    border-top: 1px solid #ccc;
}

.c-link__list
{
    padding: 1rem;

    border-bottom: 1px solid #ccc;

    -ms-flex-align: center;
    align-items: center;
}

.c-link__store
{
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}

.c-link__text
{
    width: 30%;

    word-break: break-all;

    -ms-flex-align: center;
    align-items: center;
}

.c-link__ph
{
    overflow: hidden;

    width: 73px;
    height: 73px;
    margin-right: 1rem;

    border-radius: 100%;
}

.c-link__ph--mini
{
    overflow: hidden;

    width: 41px;
    height: 41px;

    border-radius: 100%;
}

.c-link__ph img
{
    width: 100%;
}

.c-link__name--text
{
    word-break: break-all;
}

.c-link__add
{
    position: relative;

    display: block;

    padding: 2rem 0;

    text-align: center;

    color: #666;
    border-bottom: 1px solid #ccc;
}

.c-link__addInner
{
    font-weight: bold;

    position: absolute;
    top: 50%;
    left: 50%;

    display: inline-block;

    padding-right: 45px;

    transform: translate(-50%, -50%);

    color: #999;
}

.c-form
{
    position: relative;

    width: 96%;
    margin: 0 auto 2rem;
}

.c-form__catalog
{
    font-size: 1.4rem;

    display: block;

    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 2rem 1rem 4rem;

    color: #999;
    border: solid 1px #ddd;
    border-radius: 33px;
    outline: 0;
    box-shadow: .2rem .2rem .1rem rgba(0, 0, 0, .25) inset;
}

.c-form__search
{
    background: #f5f5f5 url(../img/i-search.png) no-repeat left 14px top 10px;
    background-size: 2.5rem;
}

.c-menu
{
    font-size: 1.4rem;
    font-weight: bold;

    position: relative;

    padding: 1.6rem 1rem;

    text-align: center;

    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .25);
}

.c-menu ul
{
    display: table;

    width: 100%;
}

.c-menu ul li
{
    display: table-cell;
}

.c-menu ul li:nth-of-type(1)
{
    width: 20%;
}

.c-menu ul li:nth-of-type(2)
{
    width: 60%;

    text-align: center;
}

.c-menu ul li:nth-of-type(3)
{
    position: relative;

    width: 20%;
}

.c-menu__ham
{
    position: absolute;
    top: -3px;
    right: 0;

    display: inline-block;

    box-sizing: border-box;
    width: 30px;
    height: 14px;

    transition: all .4s;

    color: black;
}

.c-menu__ham span
{
    position: absolute;
    left: 0;

    display: inline-block;

    box-sizing: border-box;
    width: 100%;
    height: 4px;

    transition: all .4s;

    border-radius: 4px;
    background-color: #000;
}

.c-menu__ham span:nth-of-type(1)
{
    top: 0;
}

.c-menu__ham span:nth-of-type(2)
{
    top: 20px;
}

.c-menu__ham span:nth-of-type(3)
{
    bottom: 0;
}

.c-menu__hamb
{
    position: absolute;
    top: 14px;
    right: 40px;

    display: inline-block;

    box-sizing: border-box;
    width: 30px;
    height: 14px;

    transition: all .4s;

    color: black;
}

.c-menu__hamb span
{
    position: absolute;
    left: 0;

    display: inline-block;

    box-sizing: border-box;
    width: 100%;
    height: 2px;

    transition: all .4s;

    background-color: #aaa8a8;
}

.c-menu__hamb span:nth-of-type(1)
{
    top: 0;
}

.c-menu__hamb span:nth-of-type(2)
{
    top: 20px;
}

.c-menu__hamb span:nth-of-type(3)
{
    bottom: 2px;
}

.c-arrow
{
    position: absolute;
    top: 50%;

    display: inline-block;

    width: 30px;
    height: 30px;

    transform: translate(0, -50%);

    border-top: 4px solid #999;
    border-right: 4px solid #999;
}

.c-arrow--right
{
    right: 1.5rem;

    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
}

.c-arrow--left
{
    left: 1.5rem;

    -webkit-transform: rotate(225deg);
       -moz-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
         -o-transform: rotate(225deg);
}

.c-arrowmenu
{
    top: 20px;

    width: 15px;
    height: 15px;
}

.c-recommended
{
    position: relative;

    margin-bottom: 5rem;
}

.c-recommended__slide
{
    width: 3000px;
    min-width: 3000px;
}

.c-recommended__slidebox
{
    overflow-x: scroll;
}

.c-recommended__slidebox::after
{
    position: absolute;
    bottom: 0;

    width: 100%;
    min-width: 3000px;
    height: 5rem;

    content: ' ';

    background-color: #999;
}

.c-recommended__catalogs
{
    width: 3000px;
}

.c-recommended__table
{
    width: 3000px;
}

.c-recommended__table::after
{
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 5rem;

    content: ' ';

    background-color: #999;
}

.c-recommended:last-child
{
    margin-bottom: 0;
}

.c-item
{
    width: 90%;
    margin: 0 auto;
}

/* Project --------------- */
.p-mv
{
    padding-bottom: 10rem;
}

.p-breadcrumb
{
    font-size: 1.4rem;

    display: inline-block;
    overflow: hidden;

    padding: 10px;
}

.p-contents
{
    position: relative;

    overflow: hidden;
}

.p-product
{
    position: relative;

    padding: 3.6rem;

    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, .25);
}

.p-recommended
{
    position: relative;

    overflow: hidden;
}

/* Utility --------------- */
.u-clearfix
{
    overflow: hidden;
}

.u-clearfix::after
{
    display: table;
    clear: both;

    content: '';
}

.u-align--left
{
    float: left;
}

.u-align--right
{
    float: right;
}

.u-rad__items
{
    border-radius: 1rem;
}

.u-flex
{
    display: -ms-flexbox;
    display: flex;

    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
}
