<% if(page.projectName === "gulf"){ -%>
  <!--
  <ul class="p-breadcrumb c-breadcrumb">
    <li class="c-breadcrumb__list"><a href="" class="c-breadcrumb__link">あああ</a></li>
    <li class="c-breadcrumb__list"><a href="" class="c-breadcrumb__link">あああ</a></li>
    <li class="c-breadcrumb__list"><a href="" class="c-breadcrumb__link">あああ</a></li>
    <li class="c-breadcrumb__list"><a href="" class="c-breadcrumb__link">あああ</a></li>
    <li class="c-breadcrumb__list"><a href="" class="c-breadcrumb__link">あああ</a></li>
    <li class="c-breadcrumb__list"><a href="" class="c-breadcrumb__link">あああ</a></li>
  </ul>
  -->
<% } -%>
