<div class="p-category">
  <div class="c-category">
    <ul class="c-category__item">
      <li class="c-category__list c-category__cl--category">
        <label onclick="null" ><input type="checkbox" value="カテゴリ名" />カテゴリ名</label>
        <label class="c-category__checkbox c-category__checkbox--on"></label>
      </li>
      <li class="c-category__list c-category__cl--brand">
        <label onclick="null" ><input type="checkbox" value="ブランド名" />ブランド名</label>
        <label class="c-category__checkbox c-category__checkbox--off"></label>
      </li>
      <li class="c-category__list c-category__cl--maker">
        <label onclick="null" ><input type="checkbox" value="メーカー名" />メーカー名</label>
        <label class="c-category__checkbox c-category__checkbox--on"></label>
      </li>
      <li class="c-category__list c-category__cl--tag">
        <label onclick="null" ><input type="checkbox" value="タグ名" />タグ名</label>
        <label class="c-category__checkbox c-category__checkbox--on"></label>
      </li>
    </ul>
    <input type="button" class="c-category__text" value="検索">
  </div>
</div>
