<% if(page.projectName === "gulf"){ -%>
  <!--
  <footer class="l-footer">
    <div class="c-footer">
      <p class="c-footer__copy">interlink@interlink</p>
    </div>
  </footer>
  -->
  <% }else if(page.projectName === "il-technique"){ -%>
  <!--
  <footer class="l-footer">
    <div class="c-footer">
      <p class="c-footer__copy">interlink@interlink</p>
    </div>
  </footer>
  -->
<% } -%>