<% if (typeof modifier === undefined) { var modifier = ''; } -%>
<% if(page.projectName === "gulf"){ -%>
   <div class="c-form u-fmg15b">
    <a class="c-button__close" href="#">
        <span></span>
        <span></span>
    </a>
    <input class="c-form__catalog c-form__search" type="text">
  </div>
<% } -%>
