<header class="l-header">
  <div class="c-header">
    <h1 class="c-header__heading">PARTS</h1>
    <ul class="c-header__nav">
      <li class="c-header__list"><a href="" class="c-header__link">asdfsa</a></li>
      <li class="c-header__list"><a href="" class="c-header__link">asfsd</a></li>
      <li class="c-header__list"><a href="" class="c-header__link">asfsad</a></li>
    </ul>
  </div>
</header>
