<% if (typeof modifier === undefined) { var modifier = ''; } -%>
<% if (typeof type === undefined) { var type = ''; } -%>
<% if(page.projectName === "gulf"){ -%>
  <div class="c-contact__area">
    <% if(type === 'contact'){ -%>
      <section class="c-contact__area--inner">
        <div class="c-contact__contact c-contact__contact--left">
          <div class="c-link__ph c-link__ph--mini c-contact__ph">
            <img src="../image/url.jpg" alt="aa">
          </div>
          <div class="c-contact__fukidashi">
            <p class="c-contact__fukidashi--text">よろしくお願いしますよろしくお願いしますよろしくお願いします</p>
            <span>10:00</span>
          </div>
        </div>
        <div class="c-link__line"><span>2/14(Tue)</span></div>
        <div class="c-contact__contact c-contact__contact--right">
          <div class="c-link__ph c-link__ph--mini c-contact__ph">
            <img src="../image/url.jpg" alt="aa">
          </div>
          <div class="c-contact__fukidashi">
            <p class="c-contact__fukidashi--text">よろしくお願いします</p>
            <span>17:41</span>
          </div>
        </div>
        <div class="c-contact__contact c-contact__contact--left">
          <div class="c-link__ph c-link__ph--mini c-contact__ph">
            <img src="../image/url.jpg" alt="aa">
          </div>
          <div class="c-contact__fukidashi">
            <div class="c-contact__fukidashi--text">
            <div>ここにURLをはります。参照してください。よろしくお願いいたし</div>
              <a href="#" class="c-contact__attachment--link">https://XXXXX.XXXXX.00039458/A123/94938757/XXXX.0138/</a>
              <div class="c-contact__attachment clearfix">
                <img class="c-contact__attachment--img" src="../image/photo1.png" alt="Attachment Image">
                <div class="c-contact__attachment--pushed">
                  <h4 class="c-contact__attachment--heading"><a href="http://www.lipsum.com/">Special grade soy sauce</a></h4>
                  <div class="c-contact__attachment--text u-ellipsis--two">
                    It is a heavy soy sauce ofthis brewing.It has a meIt is a heavy soy sauce ofthis brewing.It has a meIt is a heavy soy sauce ofthis brewing.It has a meIt is a heavy soy sauce ofthis brewing.It has a me
                  </div>
                </div>
              </div>
            </div>
            <span>10:00</span>
          </div>
        </div>
        <div class="c-contact__contact c-contact__contact--right">
          <div class="c-link__ph c-link__ph--mini c-contact__ph">
            <img src="../image/url.jpg" alt="aa">
          </div>
          <div class="c-contact__fukidashi">
            <div class="c-contact__fukidashi--text">
            <div>にURLをはります。参照してください。よろしくお願いいたします。</div>
              <a href="#" class="c-contact__attachment--link">https://XXXXX.XXXXX.00039458/A123/94938757/XXXX.0138/</a>
              <a href="#" class="c-contact__attachment clearfix">
                <img class="c-contact__attachment--img" src="../image/photo1.png" alt="Attachment Image">
                <div class="c-contact__attachment--pushed">
                  <h4 class="c-contact__attachment--heading">Special grade soy sauce</h4>
                  <div class="c-contact__attachment--text u-ellipsis--two">
                  It is a heavy soy sauce ofthis brewing.It has a meIt is a heavy soy sauce ofthis brewing.It has a meIt is a heavy soy sauce ofthis brewing.It has a meIt is a heavy soy sauce ofthis brewing.It has a me
                  </div>
                </div>
              </a>
          </div>
            <span>17:41</span>
          </div>
        </div>
        <div class="c-contact__contact c-contact__contact--left">
          <div class="c-link__ph c-link__ph--mini c-contact__ph">
            <img src="../image/url.jpg" alt="aa">
          </div>
          <div class="c-contact__fukidashi__ph">
              <p class="c-contact__fukidashi__ph--text">
                <img src="../image/ph.png" alt="">
              </p>
              <span>17:41</span>
          </div>
        </div>

        <div class="c-contact__contact c-contact__contact--right">
          <div class="c-link__ph c-link__ph--mini c-contact__ph">
            <img src="../image/url.jpg" alt="aa">
          </div>
          <div class="c-contact__fukidashi__ph">
              <p class="c-contact__fukidashi__ph--text">
                <img src="../image/ph.png" alt="">
              </p>
              <span>17:41</span>
          </div>
        </div>


      </section>
      <div class="c-contact__form">
        <a class="c-button__add u-posi__form--a" href="#">
          <span></span>
          <span></span>
        </a>
      　<a href="#" class="c-button__contact c-button__form">送信</a>
        <a class="c-button__close--m u-posi__form--b" href="#">
          <span></span>
          <span></span>
        </a>
        <textarea name="" id="" cols="30" rows="10">あああああああああ</textarea>
      </div>
    <% }else if(type === 'copy'){ -%>
        <section class="c-contact__copy">
            <input class="c-contact__text" type="text" placeholder="https://xxxx.xxxxx">
            <input class="c-contact__btn c-contact__btn--copy" type="button" value="リンクをコピー">
        </section>
    <% }else if(type === 'catalog'){ -%>
        <section class="c-contact__cols c-contact__catalog">
          <div class="c-contact__catalog__list c-contact__cols__md-6 u-fpd6">
            <a class="" href="#"><p>カタログ追加</p></a>
          </div>
          <div class="c-contact__catalog__list c-contact__cols__md-6 u-fpd6">
            <a class="" href="#"><p>しょうゆカタログ</p></a>
          </div>
          <div class="c-contact__catalog__list c-contact__cols__md-6 u-fpd6">
            <a class="" href="#"><p>味噌カタログ</p></a>
          </div>
          <div class="c-contact__catalog__list c-contact__cols__md-6 u-fpd6">
            <a class="" href="#"><p>日本酒カタログ</p></a>
          </div>
          <div class="c-contact__catalog__list c-contact__cols__md-6 u-fpd6">
            <a class="" href="#"><p>しょうゆカタログ</p></a>
          </div>
          <div class="c-contact__catalog__list c-contact__cols__md-6 u-fpd6">
            <a class="" href="#"><p>味噌カタログ</p></a>
          </div>
          <div class="c-contact__catalog__list c-contact__cols__md-6 u-fpd6">
            <a class="" href="#"><p>日本酒カタログ</p></a>
          </div>
        </section>
    <% }else if(type === 'add'){ -%>
        <section class="c-contact__cols c-contact__catalog c-contact__add">
          <div class="c-contact__catalog__list c-contact__cols__md-6 u-fpd6">
            <a class="u-icon__check--on" href="#"><p>カタログ追加</p></a>
          </div>
          <div class="c-contact__catalog__list c-contact__cols__md-6 u-fpd6">
            <a class="u-icon__check--off" href="#"><p>しょうゆカタログ</p></a>
          </div>
          <div class="c-contact__catalog__list c-contact__cols__md-6 u-fpd6">
            <a class="u-icon__check--off" href="#"><p>味噌カタログ</p></a>
          </div>
          <div class="c-contact__catalog__list c-contact__cols__md-6 u-fpd6">
            <a class="u-icon__check--off" href="#"><p>日本酒カタログ</p></a>
          </div>
          <div class="c-contact__catalog__list c-contact__cols__md-6 u-fpd6">
            <a class="u-icon__check--off" href="#"><span>しょうゆカタログ</span></a>
          </div>
        </section>
    <% } -%>
  </div>
<% } -%>

