<% if (typeof modifier === undefined) { var modifier = ''; } -%>
<% if(page.projectName === "gulf"){ -%>
  <% if(modifier === ''){ -%>
    <div class="c-menu">
      <ul>
        <li><a class="c-arrow c-arrowmenu c-arrow--left" href=""></a></li>
        <li>Soy sauce</li>
        <li>
          <a class="c-menu__ham" href="#">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </li>
      </ul>
    </div>
  <% }else if(modifier === 'menuLink'){ -%>
    <div class="c-menu">
      <ul>
        <li><a class="c-arrow c-arrowmenu c-arrow--left" href=""></a></li>
        <li>A店様</li>
        <li>
          <a class="c-menu__ham" href="#">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </li>
      </ul>
    </div>
  <% } -%>
<% } -%>
