<% if (typeof modifier === undefined) { var modifier = ''; } -%>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<% if(page.singleJs) { %><% page.singleJs.forEach(function(data) { %>
<script src="<%= page.css_js_Path %>js/<%= data %>"></script><% }); %><% } %>
<script type="text/javascript">
$(function() {
  var elem = $('.u-ellipsis');
  textOverflowEllipsis(elem);
});
</script>
</body>
</html>
