 <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
 <% if(page.singleJs) { %><% page.singleJs.forEach(function(data) { %>
    <script src="<%= page.css_js_Path %>js/<%= data %>"></script><% }); %><% } %>
<script>
jQuery(function($){
 $('#container').masonry({
    itemSelector: '.items',
    columnWidth: 180,
    isFitWidth: true  //親要素の幅に合わせてカラム数を自動調整
  });
});
</script>
</body>
</html>
