<% if (typeof modifier === undefined) { var modifier = ''; } -%>
<% if (typeof script === undefined) { var script = ''; } -%>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<% if(page.singleJs) { %><% page.singleJs.forEach(function(data) { %>
<script src="<%= page.css_js_Path %>js/<%= data %>"></script><% }); %><% } %>
<script type="text/javascript">
<% if(script === "two"){ -%>
$(function() {
  var elem = $('.u-ellipsis--two');
  textOverflowEllipsis(elem);
});
<% }else{ -%>
$(function() {
  var elem = $('.u-ellipsis');
  textOverflowEllipsis(elem);
});
<% } -%>
</script>
</body>
</html>
