<% if(page.projectName === "gulf"){ -%>
<div class="c-contact__area">
  <div class="c-sidebar__heading">
    <div class="c-sidebar__list u-flex">
      <span class="c-link__name--text">神戸屋食品</span>
    </div>
  </div>
  <div class="c-sidebar__menu">
    <a href="#" class="c-sidebar__list u-flex">
      <div class="c-sidebar__ph c-sidebar__ph--catalog c-link__ph--mini"></div>
      <span class="c-link__name--text c-edit__name--text">カタログ</span>
    </a>
    <a href="#" class="c-sidebar__list u-flex">
      <div class="c-sidebar__ph c-sidebar__ph--item c-link__ph--mini"></div>
      <span class="c-link__name--text c-edit__name--text">アイテム</span>
    </a>
    <a href="#" class="c-sidebar__list u-flex">
      <div class="c-sidebar__ph c-sidebar__ph--fukidashi c-link__ph--mini"></div>
      <span class="c-link__name--text c-edit__name--text">ルーム</span>
    </a>
    <a href="#" class="c-sidebar__list u-flex">
      <div class="c-sidebar__ph c-sidebar__ph--setting c-link__ph--mini"></div>
      <span class="c-link__name--text c-edit__name--text">設定</span>
    </a>
  </div>
  <div class="c-sidebar__all">
    <div class="c-form">
      <a class="c-button__closemini c-button__closemini--black" href="#">
        <span></span>
        <span></span>
      </a>
      <input class="c-form__mini c-form__searchmini" type="text">
    </div>
    <nav class="c-contact__nav">
      <a href="#" class="c-sidebar__list u-flex">
        <div class="c-link__ph c-link__ph--mini u-shadow--none">
          <img src="../image/url.jpg" alt="aa">
        </div>
        <span class="c-sidebar__name c-edit__name--text">ホールセラーA</span>
        <div class="c-sidebar__ph c-sidebar__ph--m c-sidebar__ph--fukidashi c-link__ph--mini">
          <span class="c-badge">30</span>
        </div>
      </a>
      <a href="#" class="c-sidebar__list u-flex">
        <div class="c-link__ph c-link__ph--mini u-shadow--none">
          <img src="../image/url.jpg" alt="aa">
        </div>
        <span class="c-sidebar__name c-edit__name--text">ホールセラーA</span>
        <div class="c-sidebar__ph c-sidebar__ph--m c-sidebar__ph--fukidashi c-link__ph--mini">
          <span class="c-badge">3</span>
        </div>
      </a>
      <a href="#" class="c-sidebar__list u-flex">
        <div class="c-link__ph c-link__ph--mini u-shadow--none">
          <img src="../image/url.jpg" alt="aa">
        </div>
        <span class="c-sidebar__name c-edit__name--text">ホールセラーA</span>
        <div class="c-sidebar__ph c-sidebar__ph--m c-sidebar__ph--fukidashi c-link__ph--mini">
          <span class="c-badge">30</span>
        </div>
      </a>
      <a href="#" class="c-sidebar__list u-flex">
        <div class="c-link__ph c-link__ph--mini u-shadow--none">
          <img src="../image/url.jpg" alt="aa">
        </div>
        <span class="c-sidebar__name c-edit__name--text">ホールセラーA</span>
        <div class="c-sidebar__ph c-sidebar__ph--m c-sidebar__ph--fukidashi c-link__ph--mini">
          <span class="c-badge">3</span>
        </div>
      </a>
    </nav>
  </div>
</div>

<% } -%>

