<% if(page.projectName === "gulf"){ -%>
  <aside>
    <ul>
      <li><a href="">あああああ</a></li>
      <li><a href="">あああああ</a></li>
      <li><a href="">あああああ</a></li>
      <li><a href="">あああああ</a></li>
    </ul>
  </aside>
<% } -%>